body {
  height: 1080px;
}
.banner {
  background-color: aquamarine;
  height: 100vh;
  padding: 0px 140px;
  background-image: url('/assets/pexels.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-weight: 400;
  color: black;
}
#btn-menu {
  display: none;
}
a {
  text-decoration: none;
}
#nav-close {
  display: none;
}
.offcanvas {
  padding: 40px;
}
.navbar-toggler {
  border: none;
}
.offcanvas-header {
  margin: 0px -20px;
}

@media only screen and (max-width: 991.99px) {
  #nav-close {
    display: inline;
  }
  .banner {
    padding: 20px 50px;
  }
}

@media only screen and (max-width: 429px) {
  .banner {
    padding: 20px 20px;
  }
  #offcanvasMenu {
    width: 225px;
  }
}
